
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


:root{
  --primary-color: #525754;
  --primary-accent-color: #02a53b;
}
/* Apply font rules */
body {
    font-family: 'SolaimanLipi', 'Raleway', Arial, sans-serif;
}
.text-primary-color{
  color: var(--primary-color);

}
.text-primary-hover:hover{
  color: var(--primary-accent-color) !important;
}
.bg-primary-color{
  background-color: var(--primary-color);
}
.btn-primary{
   --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--primary-accent-color);
  --bs-btn-hover-border-color: var(--primary-accent-color);
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}
.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}


/* Swiper  */
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }



    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


.video-thumb {
  position: relative;
  display: inline-block;
}

.video-thumb img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Make sure slides don’t collapse */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Anchor should take full size */
.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

/* Images responsive inside */
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Play button overlay */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  pointer-events: none; /* clicks go to <a> */
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link{
  color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
  color: var(--primary-accent-color);
}
.navbar .navbar-nav .nav-item .nav-link.active{
  color: var(--primary-accent-color);
}

@media (max-width:992px){
.quick-contact li{
  font-size: 14px !important;

}
#faq ul li{
  font-size: 14px !important;
}
}
@media (max-width:600px){
/* .quick-contact  {
  gap: 5px !important;
  flex-direction: column;

} */
.quick-contact li{
  font-size: 12px !important;
}
}


/* Product section Start*/

.sec-style-1 {}

.sec-style-1 .sec-header {}

.sec-style-1 .sec-header .sec-title {
    font-size: 20px;
    font-weight: 600;

}

.sec-style-1 .sec-body {}

.sec-style-1 .sec-body .sec-grid-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}


.sec-style-1 .sec-body .sec-grid-box .sec-grid-item {}

.p-card-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.2s ease-in-out;

}

.p-card-1:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.p-card-1 a {
    text-decoration: none;
}

.p-card-1 .p-img-box {
    overflow: hidden;
    border-radius: 8px;
}

.p-card-1 .p-img-box img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.p-card-1:hover .p-img-box img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.p-card-1 .p-info {}

.p-card-1 .p-info .p-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(37, 37, 37);
}

.p-card-1 .p-info .prices {
    display: flex;
    gap: 10px;
    font-weight: 700;
    align-items: end;
}

.p-card-1 .p-info .prices .old-price {
    font-size: 16px;
    color: #8f8f8f;
}

.p-card-1 .p-info .prices .price {
    font-size: 18px;
}

.p-card-1 .p-info .p-description {
    font-size: 18px;
    color: rgb(37, 37, 37);
    margin-bottom: 0;
    font-weight: 600;
}

.p-card-1 .p-info .p-description:hover {
    /* text-decoration: underline; */
    color: var(--text-primary-color);
}

.p-card-1 .p-btn-group {}

.p-card-1 .p-btn-group .btn {}

@media (max-width:992px) {
    .sec-style-1 .sec-body .sec-grid-box {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .p-card-1 .p-img-box img {

        height: 250px;

    }
}

/* Product section End*/
/* Product section Start===================================*/

.sec-style-2 {}

.sec-style-2 .sec-header {}

.sec-style-2 .sec-header .sec-title {
    font-size: 20px;
    font-weight: 600;

}

.sec-style-2 .sec-body {}

.sec-style-2 .sec-body .sec-grid-box {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}


.sec-style-2 .sec-body .sec-grid-box .sec-grid-item {}

@media (max-width:992px) {
    .sec-style-2 .sec-body .sec-grid-box {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

/* Product section End===========================================*/
