#logo_header_mobile {
    max-width: 190px;
}

.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.pagination {
    margin-left: 30px;

    .page-link {
        padding: 1.1rem;
        font-size: 16px;
    }
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
